/*
 ___  __   __  ___  ___  __  
|__  /  \ /  \  |  |__  |__) 
|    \__/ \__/  |  |___ |  \ 
*/
footer{
	margin-top: 40px;
	background-color: #222222;
	height: 120px;
	color: #f2f2f2;

	.footer-container {
		text-align: center;
		padding-top: 40px;
	}
}