/*
     ___     __  ___ __  
|__||__  /\ |  \|__ |__) 
|  ||___/~~\|__/|___|  \ 
*/
header{

	.logo-container {
		/*height: 300px;*/
		/*background-color: red;*/
		margin-top: 60px;
		margin-bottom: 40px;
	}

	.Center-Container {
	  // background: url("images/img-header.png") no-repeat;
	  background-size: cover;
	}

	.header-container {
		padding: 0;
	}

	.header-image-container {
		height: 600px;
		background-color: #222222;
		position: relative;
		margin: 0;
	}

	.header-text-container {
		position: absolute;
		text-align: center;

	}
}


