/*
     ___     __  ___ __  
|__||__  /\ |  \|__ |__) 
|  ||___/~~\|__/|___|  \ 
*/
header{
	.Center-Container {
	  background: url("images/img-header.png") no-repeat;
	  background-size: cover;
	}

	.header-container {
		padding: 0;
	}

	.header-image-container {
		height: 600px;
		background-color: #f2f2f2;
		position: relative;
		margin: 0;
	}

	.header-text-container {
		position: absolute;
		text-align: center;

	}
}


