$break-large: 1200px;


/*no cambies esta clase!!!!!! */
.absolute-center {
	  width: 70%;
	  height: 50%;
	  overflow: auto;
	  margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
}
.Center-Container {
	  position: relative;
	  width: 100%;
	  height: 100%;
}

.section-container, .top-container, .bottom-container {
	/*margin: 60px 15px;*/
	padding: 0;
}

.grey{
	background-color: #f2f2f2;
}

.top-container {
	.image-container {
		height: 600px;

		&.header {
			/*background-color: #e2e2e2;*/
			/*background: url('images/img-header.png');*/
			/*background-size: cover;*/
			background-repeat: no-repeat;
		}		

		&.first {
			/*background-color: #e2e2e2;*/
			background: url('images/img-problem.png');
			/*background-size: cover;*/
			background-repeat: no-repeat;
		}

		&.second {
			background: url('images/img-data.png');
			/*background-size: cover;*/
			background-repeat: no-repeat;

		  	@media screen and (max-width: $break-large) {
		  		background: none;
		    	display: none;
		  	}
		}

		&.third {
			background: url('images/img-sketch.png');
			/*background-size: cover;*/
			background-repeat: no-repeat;

		  	@media screen and (max-width: $break-large) {
		  		background: none;
		    	display: none;
		  	}
		}

		&.meh {
			background: url('images/img-prop.png');
			/*background-size: cover;*/
			background-repeat: no-repeat;
		}

		&.solution {
			background: url('images/img-solution.png');
			// background-size: cover;
			background-repeat: no-repeat;
		}

		&.team {
			background: url('images/img-team.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}


.text-container {
	height: 600px;
	position: relative;

	.text {
		color: white;
		padding-left: 30px;
		padding-right: 30px;
		position: absolute;
		top: 50%;
		height: inherit;

		h4 {
			line-height: 1.5;
		}
	}
}




.red-bg{
	background-color: #e53e3e;
}

.grey-bg {
	background-color: #b3b3b3;
}

.green-bg {
	background-color: #26a9ac;
}



// temporary classes for images
.data-image-container, .project-image-container, .solution-image-container {
	height: 600px;
	background-color: #222;
}


.team-image-container {
	height: 600px;
	width: 33%;
	background-color: #f2f2f2;
	border: 1px solid #222;
}


.video-container {
	padding: 0
}

.video-image-container {
	height: 600px;
	background-color: #f2f2f2;
	position: relative;
	margin: 0;
}

.section-container {
	.top-container {
		h1 {
			margin-top: 40px;
		}
	}
}


.goal {
	height: 500px;
}